// В этом файле должны быть стили для БЭМ-блока price, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
$column-width: 280px;
@media #{$tablet} {$column-width: 155px;}
@media #{$desktop} {$column-width: 235px;}

.price {
  position: relative;
  padding-top: 119px;
  padding-bottom: 100px;
  background-image: url("../img/bg-triangle-white.svg"), linear-gradient(to bottom, transparent, transparent 29px, $bg--gray 29px, $bg--gray);
  background-repeat: no-repeat;
  background-position: 0 28px, 0 0;
  background-size: 100% 26px, auto auto;
  overflow: hidden;

  @media #{$tablet} {
    padding-top: 95px;
    padding-bottom: 69px;
    background-image: url("../img/bg-triangle-white.svg"), linear-gradient(to bottom, transparent, transparent 10px, $bg--gray 10px, $bg--gray);
    background-position: 0 9px, 0 0;
    background-size: 100% 50px, auto auto;
  }

  @media #{$desktop} {
    padding-top: 186px;
    padding-bottom: 96px;
    background-image: url("../img/bg-triangle-white.svg"), linear-gradient(to bottom, transparent, transparent 41px, $bg--gray 41px, $bg--gray);
    background-position: 0 40px, 0 0;
    background-size: 100% 80px, auto auto;
  }
}

.price__table-wrapper {
  @include container;
  display: flex;

  @media #{$tablet} {justify-content: center;}
}

.price-table {
  width: $column-width * 3;
  margin-left: -$column-width + 20px;
  border-collapse: collapse;

  @media #{$tablet} {
    width: $column-width * 4;
    margin-left: 0;
  }

  @media #{$desktop} {width: $column-width * 4;}
}

.price-table__column {
  width: $column-width;
  margin: 0;
  padding: 0;

  @media #{tabet} {width: $column-width;}

  &--row-names {
    display: none;

    @media #{$tablet} {
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

.price-table__name {
  display: block;
  padding: 14px 0 15px 22px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $gray--dark;

  @media #{$tablet} {
    padding: 8px 0 7px 16px;
    font-size: 14px;
  }

  @media #{$desktop} {
    padding: 14px 0 15px 22px;
    font-size: 18px;
  }
}

.price-table__title {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: $gray--dark;
  background-clip: padding-box;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet} {
    padding-top: 14px;
    padding-bottom: 7px;
  }

  @media #{$desktop} {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &--hit {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background: url("../img/bg-hit.svg") no-repeat;

      @media #{$tablet} {
        width: 61px;
        height: 61px;
        background: url("../img/bg-hit-$tablet.svg") no-repeat;
      }

      @media #{$desktop} {
        width: 74px;
        height: 73px;
        background: url("../img/bg-hit.svg") no-repeat;
      }
    }

    &::after {
      content: "Хит";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 50px;
      height: 30px;
      transform: rotate(-45deg);
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
      text-align: left;

      @media #{$tablet} {
        top: 15px;
        left: 9px;
        transform-origin: left;
      }

      @media #{$desktop} {
        top: 5px;
        left: 5px;
        transform-origin: center;
      }
    }
  }

  b {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    @media #{$tablet} {
      font-size: 16px;
      line-height: 26px;
    }

    @media #{$desktop} {
      font-size: 18px;
      line-height: 30px;
    }
  }

  span {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;

    @media #{$tablet} {font-size: 18px;}

    @media #{$desktop} {font-size: 24px;}
  }
}

.price-table__option {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px 15px 22px;
  background-color: #fff;
  border: 1px solid #e5e5e5;

  @media #{$tablet} {
    justify-content: center;
    padding: 8px 0 7px;
  }

  @media #{$desktop} {padding: 14px 18px 15px 22px;}
}

.price-table__option-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $gray--dark;
  text-transform: uppercase;

  @media #{$tablet} {
    position: absolute;
    clip: rect(0 0 0 0);
  }
}

.price-table__tick {
  @include text-hidden;
  width: 31px;
  background: url("../img/icon-yes.svg") no-repeat center;
  background-size: 31px 21px;
}

.price-table__cross {
  @include text-hidden;
  width: 31px;
  background: url("../img/icon-no.svg") no-repeat center;
  background-size: 27px 26px;
}

.price__pagination {
  position: absolute;
  bottom: 46px;
  left: 50%;
  transform: translateX(-50%);

  @media #{$tablet} {display: none;}
}
