.page-header {
  position: relative;
  z-index: 0;
  background-color: $bg--dark;
  color: #fff;
}

.page-header__logo {
  height: 22px;
  margin-bottom: -70px;
  padding: 22px 20px 26px;
  background-color: $bg--transparent;
  line-height: 0;

  svg {
    margin-left: -70px;
    margin-top: -19px;
  }
}

.page-header__logo-svg:not([class~="page-header__logo-svg--index"]) {
  &:hover {
    .page-header__logo-name,
    .page-header__logo-glasses,
    .page-header__logo-glasses-crop {
      fill: $pink;
    }
  }

  &:active {
    .page-header__logo-name,
    .page-header__logo-glasses,
    .page-header__logo-glasses-crop {
      fill: #fff;
      fill-opacity: 0.3;
    }

    .page-header__logo-star {
      fill-opacity: 0.3;
    }
  }
}

.page-header__logo-glasses {
  display: none;
}

.page-header__logo-glasses-crop {
  display: none;
}

.page-header__logo-star {
  display: none;
}

.page-header__bg-wrapper {
  position: relative;
  z-index: -1;
  min-height: 240px;
  margin-top: -70px;
  background-color: $bg--dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 700px auto;
}

.page-header__title {
  @include container;
  box-sizing: border-box;
  padding-top: 98px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

@media #{$mobile} {
  .page-header__bg-wrapper {
    @media #{$retina} {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
}


@media #{$tablet} {
  .page-header__logo {
    height: 40px;
    margin-bottom: -110px;
    padding: 26px 21px 44px;

    svg {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .page-header__logo-glasses {
    display: block;
  }

  .page-header__bg-wrapper {
    min-height: 439px;
    margin-top: -109px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__title {
    padding-top: 178px;
    font-size: 50px;
    line-height: 60px;
  }
}


@media #{$desktop} {
  .page-header__logo {
    margin-bottom: -110px;
    padding: 26px 0 44px;
    background-color: transparent;
    box-shadow: none;
  }

  .page-header__logo-glasses {
    display: none;
  }

  .page-header__logo-glasses-crop {
    display: block;
  }

  .page-header__logo-star {
    display: block;
  }

  .page-header__wrapper {
    background-color: $bg--transparent;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .page-header__bg-wrapper {
    min-height: 395px;
    margin-top: -110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media #{$retina} {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__title {
    padding-top: 173px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
