.page-content__text {
  margin: 0;
  @include container;
  box-sizing: border-box;
  padding: 0 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: $gray--dark;
  text-align: center;

  &--page-form {
    padding: 0 20px;
  }

  &:nth-of-type(1) {
    margin-top: 45px;
  }

  &:nth-of-type(2) {
    padding: 25px 25px 41px;
  }

  span {
    display: none;
  }
}

@media #{$tablet} {
  .page-content__text {
    font-size: 18px;

    &--page-form {
      padding: 0 30px;
    }

    &:nth-of-type(1) {
      margin-top: 93px;
    }

    &:nth-of-type(2) {
      padding: 43px 20px 68px;
    }

    span {
      display: inline;
    }
  }
}

@media #{$desktop} {
  .page-content__text {
    padding: 0 150px;

    &--page-form {
      padding: 0 70px;
    }

    &:nth-of-type(1) {
      margin-top: 92px;
    }

    &:nth-of-type(2) {
      padding: 5px 20px 65px;
    }
  }
}
