// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
.contacts {
  padding-top: 40px;
  background-color: #fff;

  @media #{$desktop} {padding-top: 63px;}
}

.contacts__text {
  @include container;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: $gray--dark;
  text-align: center;

  @media #{$tablet} {
    width: 540px;
    margin-bottom: 40px;
    padding: 0 40px;
    font-size: 40px;
  }

  @media #{$desktop} {
    width: 700px;
    margin-bottom: 60px;
    padding: 0 120px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  @include container;
  padding: 0;
  list-style: none;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  @media #{$desktop} {justify-content: space-between;}
}

.contacts__item {
  margin-bottom: 21px;
  text-align: center;

  @media #{$tablet} {
    width: 300px;
    margin-bottom: 45px;
  }

  @media #{$desktop} {margin-bottom: 0;}

  &:nth-child(2) {
    margin-bottom: 25px;

    @media #{$tablet} {margin-bottom: 0;}

    @media #{$desktop} {order: 3;}
  }

  &:nth-child(odd) {
    @media #{$tablet} {margin-right: 20px;}

    @media #{$desktop} {margin-right: 0;}
  }

  &:last-child {
    @media #{$tablet} {margin-right: 0;}
  }

  &:last-child,
  &:nth-last-child(2) {
    @media #{$tablet} {margin-bottom: 0;}
  }

  b {
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: $gray--dark;

    @media #{$tablet} {margin-bottom: 10px;}

    @media #{$desktop} {margin-bottom: 29px;}

  }

  a {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    color: $pink;
    text-decoration: none;

    &[href]:hover {
      color: $gray--dark;
      text-decoration: underline;
    }

    &[href]:active {
      color: $gray--dark;
      text-decoration: none;
      opacity: 0.3;
    }
  }
}

.contacts__map-inner {
  position: relative;
  width: 100%;
  margin-top: 35px;
  padding-bottom: 62%;
  background-color: #eae6dd;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  line-height: 0;
  overflow: hidden;

  @media #{$retina} {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media #{$tablet} {
    margin-top: 25px;
    padding-bottom: 56.5%;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 0 25%;

    @media #{$retina} {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media #{$desktop} {
    box-sizing: border-box;
    height: 100%;
    margin-top: 17px;
    padding-bottom: 0;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 0 10%;

    @media #{$retina} {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 34px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
    background-size: 100% 100%;

    @media #{$tablet} {height: 70px;}

    @media #{$desktop} {height: 105px;}
  }
}

.contacts__map-wrapper {
  @media #{$desktop} {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__map {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media #{$mobile} {
  .contacts__map-inner {
    @media #{$retina} {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }
}
