.page-content__text {
  margin: 0;
  @include container;
  box-sizing: border-box;
  padding: 0 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: $gray--dark;
  text-align: center;

  @media #{$tablet} {font-size: 18px;}

  @media #{$desktop} {padding: 0 150px;}

  &--page-form {
    padding: 0 20px;

    @media #{$tablet} {padding: 0 30px;}

    @media #{$desktop} {padding: 0 70px;}
  }

  &:nth-of-type(1) {
    margin-top: 45px;

    @media #{$tablet} {margin-top: 93px;}

    @media #{$desktop} {margin-top: 92px;}
  }

  &:nth-of-type(2) {
    padding: 25px 25px 41px;

    @media #{$tablet} {padding: 43px 20px 68px;}

    @media #{$desktop} {padding: 5px 20px 65px;}
  }

  span {
    display: none;

    @media #{$tablet} {display: inline;}
  }
}
