@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/mixins.scss";
@import "normalize.scss";

@import "src/_include/advantages/advantages.scss";
@import "src/_include/btn/btn.scss";
@import "src/_include/contacts/contacts.scss";
@import "src/_include/editor/editor.scss";
@import "src/_include/filter-range/filter-range.scss";
@import "src/_include/form/form.scss";
@import "src/_include/main-nav/main-nav.scss";
@import "src/_include/page-content/page-content.scss";
@import "src/_include/modal/modal.scss";
@import "src/_include/page-content/page-content.scss";
@import "src/_include/page-footer/page-footer.scss";
@import "src/_include/page-header/page-header.scss";
@import "src/_include/price/price.scss";
@import "src/_include/promo/promo.scss";
@import "src/_include/reviews/reviews.scss";
@import "src/_include/slider/slider.scss";
@import "src/_include/social/social.scss";
@import "src/_include/user-posts/user-posts.scss";
